<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" />
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/app/assets/images/favicon.png" />
    <!-- Page Title  -->
    <title>Dashboard | ProjectMaster</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="/app/assets/css/dashlite.css" />
    <link id="skin-default" rel="stylesheet" href="/app/assets/css/theme.css" />
    <link rel="stylesheet" href="/app/views/project-master/style.css" />
    <style>
    </style>
</head>

<body class="nk-body bg-lighter npc-general has-sidebar">
    <div class="nk-app-root">
        <div class="nk-main">
            <%- include('./common/sidebar' , {subItems:{active:"fdr"} }); -%>
                <div class="nk-wrap project-master">
                    <%- include('./common/navbar',{headerText:"FDR Controller"}); -%>
                        <div class="nk-content">
                            <div class="container-fluid">
                                <div class="nk-content-inner">
                                    <div class="nk-content-body">
                                        <div class="nk-block">
                                            <div class="nk-block-head nk-block-head-sm">
                                                <div class="nk-block-between mb-2">
                                                    <div class="nk-block-head-content">
                                                        <div class="row align-items-center">
                                                            <div class="col">
                                                                <h3 class="nk-block-title page-title">FDR Menu
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <a href="/add-fdr" id="addFdrButton"
                                                        class="btn btn-white btn-dim btn-outline-light"><em
                                                            class="icon ni ni-plus-sm"></em><span>Add
                                                            FDR</span></a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card card-bordered card-stretch">
                                            <div class="card-inner-group">
                                                <div class="card-inner position-relative card-tools-toggle">
                                                    <div class="card-title-group">
                                                        <div class="card-tools"></div>
                                                        <div class="card-tools me-n1">
                                                            <ul class="btn-toolbar gx-1">

                                                                <li class="btn-toolbar-sep"></li>
                                                                <li>
                                                                    <div class="toggle-wrap">
                                                                        <a href="#"
                                                                            class="btn btn-icon btn-trigger toggle"
                                                                            data-target="cardTools"><em
                                                                                class="icon ni ni-menu-right"></em></a>
                                                                        <div class="toggle-content"
                                                                            data-content="cardTools">
                                                                            <ul class="btn-toolbar gx-1">
                                                                                <li class="toggle-close">
                                                                                    <a href="#"
                                                                                        class="btn btn-icon btn-trigger toggle"
                                                                                        data-target="cardTools"><em
                                                                                            class="icon ni ni-arrow-left"></em></a>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="dropdown mr-2">
                                                                                        <a href="#"
                                                                                            class="btn btn-trigger btn-icon dropdown-toggle"
                                                                                            data-bs-toggle="dropdown">
                                                                                            <em
                                                                                                class="icon ni ni-setting"></em>
                                                                                        </a>
                                                                                        <div
                                                                                            class="dropdown-menu dropdown-menu-xs dropdown-menu-end">
                                                                                            <ul
                                                                                                class="filter-limit link-check">
                                                                                                <li><span>Show</span>
                                                                                                </li>
                                                                                                <li class="active">
                                                                                                    <a href="#"
                                                                                                        data-limit="10">10</a>
                                                                                                </li>
                                                                                                <li><a href="#"
                                                                                                        data-limit="20">20</a>
                                                                                                </li>
                                                                                                <li><a href="#"
                                                                                                        data-limit="50">50</a>
                                                                                                </li>
                                                                                                <li><a href="#"
                                                                                                        data-limit="100">100</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>

                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>

                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="scroll-buttons">
                                                                        <a id="scroll-left"
                                                                            class="btn btn-icon btn-primary"><em
                                                                                class="icon ni ni-chevron-left"></em></a>
                                                                        <a id="scroll-right"
                                                                            class="btn btn-icon btn-primary"><em
                                                                                class="icon ni ni-chevron-right"></em></a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-search search-wrap" data-search="search">
                                                        <div class="card-body">
                                                            <div class="search-content">
                                                                <a href="#"
                                                                    class="search-back btn btn-icon toggle-search"
                                                                    data-target="search"><em
                                                                        class="icon ni ni-arrow-left"></em></a>
                                                                <input type="text" id="doc_ocr_content"
                                                                    class="form-control border-transparent form-focus-none filter-input"
                                                                    data-filter="keyword"
                                                                    placeholder="Search Keywords" />
                                                                <button id="searchDocumentButton"
                                                                    class="search-submit btn btn-icon"><em
                                                                        class="icon ni ni-search"></em></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-inner p-0 scrollable-datatable" id="total-bg-amount">
                                                    <div class="nk-tb-list nk-tb-ulist is-compact">
                                                        <div class="nk-tb-item nk-tb-head grid-header" id="table-head">
                                                            <%if(token.user_role !=3){%>
                                                                <div class="nk-tb-col no-click  text-start">
                                                                    <span data-field="edit_doc">ACTIONS</span><span
                                                                        class="sort-indicator"></span>
                                                                </div>
                                                                <%}%>
                                                                    <div class="nk-tb-col ">
                                                                        <span data-field="doc_bank_name">Bank
                                                                            Name</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>
                                                                    <div class="nk-tb-col">
                                                                        <span
                                                                            data-field="doc_purpose">Purpose</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>
                                                                    <div class="nk-tb-col">
                                                                        <span data-field="doc_fdr_no">FDR NO</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>
                                                                    <div class="nk-tb-col date">
                                                                        <span
                                                                            data-field="doc_original_issue_date">Original
                                                                            issue date</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>
                                                                    <div class="nk-tb-col">
                                                                        <span
                                                                            data-field="doc_interest_payout_clause">INTEREST
                                                                            PAYOUT CLAUSE</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>
                                                                    <div class="nk-tb-col date">
                                                                        <span data-field="doc_deposit_amount">DEPOSIT
                                                                            AMOUNT</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>

                                                                    <div class="nk-tb-col date">
                                                                        <span data-field="doc_interest_rate">INTEREST
                                                                            RATE</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>
                                                                    <div class="nk-tb-col">
                                                                        <span data-field="doc_tds_rate">TDS
                                                                            rate</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>
                                                                    <div class="nk-tb-col">
                                                                        <span data-field="doc_tenor">TENOR (in
                                                                            months)</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>

                                                                    <div class="nk-tb-col date">
                                                                        <span data-field="doc_new_tenor date">NEW
                                                                            TENOR(in months)</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>
                                                                    <div class="nk-tb-col">
                                                                        <span
                                                                            data-field="doc_renewal">Renewal</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>
                                                                    <div class="nk-tb-col">
                                                                        <span data-field="doc_renewal_date">ISSUE
                                                                            DATE/RENEWAL DATE</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>
                                                                    <div class="nk-tb-col">
                                                                        <span data-field="doc_renewal_amount">RENEWAL
                                                                            AMOUNT</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>
                                                                    <div class="nk-tb-col">
                                                                        <span data-field="doc_maturity_date">MATURITY
                                                                            DATE</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>
                                                                    <div class="nk-tb-col">
                                                                        <span data-field="doc_maturity_amount">MATURITY
                                                                            AMOUNT</span><span
                                                                            class="sort-indicator"></span>
                                                                    </div>
                                                                    <div class="nk-tb-col no-click">
                                                                        <span data-field="doc_interest">Acc.
                                                                            Interest</span><span
                                                                            class="sort-indicator "></span>
                                                                    </div>
                                                                    <div class="nk-tb-col no-click">
                                                                        <span data-field="doc_tds">TDS</span><span
                                                                            class="sort-indicator "></span>
                                                                    </div>
                                                                    <div class="nk-tb-col no-click">
                                                                        <span data-field="doc_closed_on">CLOSED
                                                                            ON</span><span
                                                                            class="sort-indicator "></span>
                                                                    </div>
                                                        </div>


                                                    </div>
                                                </div>
                                                <div id="table-status" class="card-inner text-center">
                                                    <div class="text-center">
                                                        <p>No Data Found</p>
                                                    </div>
                                                </div>
                                                <!-- Pagination numbers will be dynamically inserted here -->
                                                <div id="table-pagination" class="card-inner">
                                                    <ul class="pagination">
                                                        <li class="paginate_button page-item previous disabled"
                                                            id="DataTables_Table_2_previous">
                                                            <a aria-controls="DataTables_Table_2" aria-disabled="true"
                                                                role="link" data-dt-idx="previous" tabindex="0"
                                                                class="page-link">Prev</a>
                                                        </li>

                                                        <li class="paginate_button page-item next"
                                                            id="DataTables_Table_2_next">
                                                            <a aria-controls="DataTables_Table_2" role="link"
                                                                data-dt-idx="next" tabindex="0"
                                                                class="page-link">Next</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <%- include('./common/footer'); -%>
        </div>
    </div>
    <button style="display: none" id="open-modal" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">
        Launch static backdrop modal
    </button>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete Document</h5>
                    <button type="button" id="closeModal" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this document ? </p>
                </div>
                <div class="modal-footer" id="modalAction">
                    <button type="button" class="btn btn-secondary" id="rejectModelBtn"
                        data-bs-dismiss="modal">No</button>
                    <button type="button" id="deleteDocument" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/app/assets/js/bundle.js"></script>
    <script src="/app/assets/js/scripts.js"></script>
    <script src="/app/assets/js/charts/gd-default.js"></script>
    <script src="/app/views/Fdr/script-fdr.js"></script>
    <script>
        let isFetching = false;
        let docIdToDelete = null;
        let totalPages
        let filters = {
            page: 1,
            limit: 10,
        };

        function renderTabledata(response) {
            if (response.payload.documents && response.payload.documents.length > 0) {
                $("#table-status").empty();

                let rowsHtml = "";
                response.payload.documents.forEach((data) => {
                    let rowHtml = `
                <div class="nk-tb-item text-left table-content ${data.claim_pass ? "rowHighlight" : ""}">
                     <%if(token.user_role != 3){%>
                      <div class="nk-tb-col text-start editDocument">
                       <span style="margin-right: 8px;">
                         <a href="/edit-bg/${btoa(data.doc_id)}">
                           <em class="icon ni ni-edit-fill"></em>
                         </a>
                       </span>
                     <span class="${data.doc_bg_selected ? 'disable' : ''}" 
                        id="deleteDoc" 
                        style="cursor: pointer;" 
                        data-code="${data.doc_code}" 
                        data-id="${data.doc_id}"
                       <em style="color: #d84040;" class="icon ni ni-trash-fill"></em>
                    </span>
                </div>
                    <%}%>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_code || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_work_name || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_department || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_financial_date || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_agreement_no || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_agreement_date || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_completion_date || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_awarded == true ? "Yes" : "No" || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_dlp_period || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_revised_date || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_dlp_ending || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_performance_security || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_additional_performance_security || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_bal_mobilisation_amount || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_retention_amount || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_type || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_bank_name || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_issuing_branch || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_beneficiary_name || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_bg_number || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_bg_amendment_number || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_applicant_name || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_issue_date || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_claim_date || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_bg_amount || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_expiry_date || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                                ${data.doc_bg_cancelled_date || "-"}
                            </span>
                        </div>
                        <div class="nk-tb-col text-start">
                            <span>
                            ${renderPdfLinks(data?.attachments)} 
                            </span>
                        </div>
                    </div>
                    `
                    rowsHtml += rowHtml;
                })
                $("#table-filters").after(rowsHtml);


            } else {
                console.log("No Records Found");
                $('table-status').removeClass('d-none');
                $("#table-status").html(`<div class="text-center"><p>No Records Found</p></div>`);
                $('#table-bg-amount').addClass('d-none');
            }
        }


        function fetchAllfdrs() {
            fetch('/fdr/get-all-fdrs', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    page: 1,
                    limit: 10,
                }).then((response) => {
                    if (response.status === 200) {
                        return response.json()
                    } else {
                        throw new Error('Network response was not ok')
                    }
                })
            })

        }

        (function () {
            fetchAllfdrs()
        })();

    </script>
</body>

</html>