<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" >
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.png">
    <!-- Page Title  -->
    <title>Error 404 | SP Singla Document Controller</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="/app/assets/css/dashlite.css">
    <link id="skin-default" rel="stylesheet" href="/app/assets/css/theme.css">
</head>

<body class="nk-body bg-white npc-general pg-error">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle wide-xs mx-auto">
                        <div class="nk-block-content nk-error-ld text-center">
                            <img class="nk-error-gfx" src="/app/assets/images/gfx/error-404.svg" alt="">
                            <h3 class="nk-error-title">Oops! Why you’re here?</h3>
                            <p>We are very sorry for inconvenience. It looks like you’re try to access a page that either has been deleted or never existed.</p>
                            <a href="/" class="btn btn-lg btn-primary mt-2">Back To Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/app/assets/js/bundle.js"></script>
    <script src="/app/assets/js/scripts.js"></script>

</html>