<!DOCTYPE html>
<html lang="zxx" class="js">
  <head>
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/app/assets/images/favicon.png" />
    <!-- Page Title  -->
    <title>Forget Password | Document Controller</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="/app/assets/css/dashlite.css" />
    <link id="skin-default" rel="stylesheet" href="/app/assets/css/theme.css" />
  </head>

<body class="nk-body bg-white npc-general pg-auth">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                        <div class="brand-logo pb-4 text-center">
                            <a href="/" class="logo-link">
                                <img class="logo-light logo-img logo-img-lg" src="/app/assets/images/logo.png" alt="logo" />
                                <img class="logo-dark logo-img logo-img-lg" src="/app/assets/images/logo.png" alt="logo-dark" />
                              </a>
                        </div>
                        <div class="card card-bordered">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title">Reset password</h5>
                                        <div class="nk-block-des">
                                            <p>Enter enter your official email to resert your password.</p>
                                        </div>
                                    </div>
                                </div>
                                <form id="resetPasswordForm" class="form-validate is-alter">
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="user_email">Email</label>
                                        </div>
                                        <div class="form-control-wrap">
                                            <input type="email" class="form-control form-control-lg" id="user_email" placeholder="Enter your email address" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button id="sendResetOtp" class="btn btn-lg btn-primary btn-block">Send Reset OTP</button>
                                    </div>
                                    <div id="alert-wrapper"></div>
                                </form>
                                <form id="verifyOtpForm" class="form-validate is-alter d-none">
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="user_otp">OTP</label>
                                        </div>
                                        <div class="form-control-wrap">
                                            <input type="number" minlength="6" maxlength="6"  class="form-control form-control-lg" id="user_otp" placeholder="Enter OTP" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button id="verifyOtpButton" class="btn btn-lg btn-primary btn-block">Verify OTP</button>
                                    </div>
                                    <div id="alert-wrapper-2"></div>
                                </form>
                                <form id="createPasswordForm" class="form-validate is-alter d-none">
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="user_otp">Enter New Password</label>
                                        </div>
                                        <div class="form-control-wrap">
                                            <a href="#" class="form-icon form-icon-right passcode-switch lg" data-target="user_password">
                                              <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                              <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                            </a>
                                            <input type="password" minlength="8" required class="form-control form-control-lg" autocomplete="new-password" id="user_password" name="user_password" placeholder="Enter your password" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="user_otp">Confirm New Password</label>
                                        </div>
                                        <div class="form-control-wrap">
                                            <a href="#" class="form-icon form-icon-right passcode-switch lg" data-target="new_user_password">
                                              <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                              <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                            </a>
                                            <input type="password" minlength="8" required class="form-control form-control-lg" autocomplete="new-password" id="new_user_password" name="new_user_password" placeholder="Enter your password" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button id="verifyPasswordButton" class="btn btn-lg btn-primary btn-block">Reset Password</button>
                                    </div>
                                    <div id="alert-wrapper-3"></div>
                                </form>
                                <div class="form-note-s2 text-center pt-4">
                                    <a href="/"><strong>Return to login</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('./common/footer'); -%>
                </div>
                <!-- wrap @e -->
            </div>
            <!-- content @e -->
        </div>
        <!-- main @e -->
    </div>
    <script src="/app/assets/js/bundle.js"></script>
    <script src="/app/assets/js/scripts.js"></script>
    <script>
        $(document).ready(function () {
            $("#sendResetOtp").click(function () {
                if ($("#resetPasswordForm").valid()) {
                NioApp.handleButtonState("sendResetOtp", "Sent Reset OTP", true);
                let user_email = $("#user_email").val();
                let formData = JSON.stringify({ user_email});
        
                $.ajax({
                    type: "POST",
                    url: "/auth/reset-otp",
                    contentType: "application/json",
                    data: formData,
                    success: function (response) {
                    if (response.status == 1) {
                        NioApp.handleButtonState("sendResetOtp", "Sent Reset OTP", false);
                        $("#resetPasswordForm").addClass("d-none");
                        $("#verifyOtpForm").removeClass("d-none");
                    } else if (response.status == 0) {
                        NioApp.handleButtonState("sendResetOtp", "Sent Reset OTP", false);
                        $("#alert-wrapper").html(`<div class="alert alert-danger alert-icon alert-dismissible"><em class="icon ni ni-cross-circle"></em> <strong>${response.msg}</strong><button class="close" data-bs-dismiss="alert"></button></div>`);
                       
                    }
                    },
                    error: function (xhr, status, error) {
                        NioApp.handleButtonState("sendResetOtp", "Sent Reset OTP", false);
                        $("#alert-wrapper").html(`<div class="alert alert-danger alert-icon alert-dismissible"><em class="icon ni ni-cross-circle"></em> <strong>${response.msg}</strong><button class="close" data-bs-dismiss="alert"></button></div>`);
                       
                    },
                });
                }
            });
            $("#verifyOtpButton").click(function (e) {
                e.preventDefault();
                if ($("#verifyOtpForm").valid()) {
                    NioApp.handleButtonState("verifyOtpButton", "Verify OTP", true);
                    let user_email = $("#user_email").val();
                    let user_otp = $("#user_otp").val();
                    let formData = JSON.stringify({ user_email, user_otp });

                    $.ajax({
                        type: "POST",
                        url: "/auth/verify-otp",
                        contentType: "application/json",
                        data: formData,
                        success: function (response) {
                            NioApp.handleButtonState("verifyOtpButton", "Verify OTP", false);
                            if (response.status == 1) {
                                $("#resetPasswordForm").addClass("d-none");
                                $("#verifyOtpForm").addClass("d-none");
                                $("#createPasswordForm").removeClass("d-none");
                            } else if(response.status == 0 && response.msg == "OTP Expired"){
                                $("#resetPasswordForm").removeClass("d-none");
                                $("#verifyOtpForm").addClass("d-none");
                                $("#alert-wrapper").html(`<div class="alert alert-danger">OTP Expired. Please Generate Again.</div>`);
                            } else if(response.status == 0 && response.msg == "Incorrect OTP"){
                                console.log(" i am herererere")
                                $("#alert-wrapper-2").html(`<div class="alert alert-danger">Incorrect OTP. Please Try Again.</div>`);
                            }
                        },
                        error: function () {
                            NioApp.handleButtonState("verifyOtpButton", "Verify OTP", false);
                            $("#alert-wrapper").html(`<div class="alert alert-danger">An error occurred while verifying OTP.</div>`);
                        }
                    });
                }
            });

            $("#verifyPasswordButton").click(function (e) {
                e.preventDefault();
                if ($("#createPasswordForm").valid()) {
                    let newPassword = $("#user_password").val();
                    let confirmPassword = $("#new_user_password").val();

                    if (newPassword !== confirmPassword) {
                        $("#alert-wrapper-3").html(`<div class="alert alert-danger">Passwords do not match. Please try again.</div>`);
                        return;
                    }

                    NioApp.handleButtonState("verifyPasswordButton", "Reset Password", true);
                    let user_email = $("#user_email").val();
                    let formData = JSON.stringify({ user_email, newPassword });

                    $.ajax({
                        type: "POST",
                        url: "/auth/reset-password",
                        contentType: "application/json",
                        data: formData,
                        success: function (response) {
                            window.location.href = '/';
                        },
                        error: function () {
                            NioApp.handleButtonState("verifyPasswordButton", "Reset Password", false);
                            $("#alert-wrapper-3").html(`<div class="alert alert-danger">An error occurred while resetting the password.</div>`);
                        }
                    });
                }
            });
        });
    </script>
</html>