<div class="nk-footer nk-auth-footer-full">
  <div class="container wide-lg">
    <div class="row g-3 text-center">
      <div class="col-lg-6">
        <div class="nk-block-content text-center text-lg-start">
          <p class="text-soft">SP Singla Constructions Private Limited.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="nk-block-content text-center text-lg-end">
          <p class="text-soft">All Rights Reserved &copy; 2024</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="js-preloader">
  <div class="loading-animation text-center">
    <div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>
  </div>
</div> -->

<div class="js-preloader"><div class="loading-animation duo-pulse"></div></div>
